<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Calculadora IMC</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="icon" type="image/x-icon" href="img/paltaFavicon.png">
  <script src="https://kit.fontawesome.com/a2d9d6a76b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  
</head>
<body>
    <header>
    <nav class="navbar">
      <div class="logo-container">
      <a href="index.html"><img src="img/home.png" alt="Inicio" class="home-icon" /></a>
      <a href="index.html" class="logo-text">NutriGM</a>
      </div>
      <ul class="nav-links">
        <li><a href="iniciarSesion.html">Iniciar Sesión</a></li>
        <li><a href="registrar.html">Registrarse</a></li>
        <li><a href="index.html#Nutricionista">Nutricionistas</a></li>
      </ul>
    </nav>
  </header>

  <main class="registro-container">
    <h2>Calculadora de IMC</h2>
    <form id="imc-form">
      <!--<input type="number" id="peso" placeholder="Peso (kg)" required />
      <input type="number" id="altura" placeholder="Altura (cm)" required />-->
      <input type="number" id="peso" placeholder="Peso (kg)" required min="1" />
        <input type="number" id="altura" placeholder="Altura (cm)" required min="1" />
      <button type="submit">Calcular</button>
    </form>
    <div id="resultado-imc" class="resultado" style="margin-top: 20px;"></div>
  </main>
<footer>
    <div class="footer-container">
      <div class="footer-section">
        <h4>Menú</h4>
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="index.html">Iniciar Sesión</a></li>
          <li><a href="index.html">Registrarse</a></li>
          <li><a href="#">Calcular IMC</a></li>
          <li><a href="index.html#Nutricionistas">Nutricionistas</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h4>Seguinos</h4>
        <div class="social-icons">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-tiktok"></i></a>
        </div>
      </div>

      <div class="footer-section">
        <h4>Contacto</h4>
        <p><i class="fas fa-map-marker-alt"></i> Perito Moreno 123, Ciudad</p>
        <p><i class="fas fa-clock"></i> Lun a Vie - 9:00 a 18:00</p>
        <p><i class="fas fa-envelope"></i> contacto@nutrigm.com</p>
      </div>
    </div>
    <div class="footer-quote">
      <p>“Tu salud comienza por tu plato.”</p>
    </div>
  </footer>
  </body>
</html>